@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #96bf01;
  --secondary: #7ea002;
  --black: #1f2702;
  --logo-font: 'Climate Crisis', cursive;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
