@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import 'primereact/resources/themes/lara-light-indigo/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #96bf01;
  --secondary: #7ea002;
  --black: #1f2702;
  --logo-font: 'Climate Crisis', cursive;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* NavBar */
header.nav-header {
  @apply text-white bg-slate-950;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

header.nav-header::-webkit-scrollbar {
  display: none;
}

ul.menu-list {
  @apply fixed z-10 flex flex-col items-center h-screen pt-16 overflow-hidden transition-all duration-500 ease-out bg-slate-950 md:gap-4 md:pt-2;
}

a.nav-link {
  @apply block w-[10rem] text-center p-5 md:p-2 md:border rounded-md md:w-[10rem] md:h-[4.5rem] md:flex justify-center items-center md:text-center hover:bg-slate-800 transition-all ease-out duration-300;
}

a.active {
  @apply bg-slate-800;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #474bff;
  animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}
